header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(76,151,203);
    background: linear-gradient(90deg, rgba(76,151,203,1) 0%, rgba(66,100,203,1) 49%, rgba(3,30,111,1) 100%);
    height: 70px;
}

#header-container {
    display: flex;
}

#filter-container {
    margin: 100px 5% 50px;
}

.filter-button {
    background-color: transparent;
    color: rgb(0, 30, 80);
    padding: 7px 16px;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#filter-change {
    border: none;
    color: white;
    background: #181851;
}

#filter-change:hover {
    color: #39c0e9;
}

.filter-button:hover {
    color: #39c0e9;
}

@keyframes logo-anim {
    from { transform: rotate(-10deg); }
    to { transform: rotate(10deg); }
}

#logo {
    width: 80px;
    height: 80px;
    margin-left: calc(50% - 40px);
    top: 0;
    position: absolute;
    animation: logo-anim 1s alternate-reverse infinite;
}

#logo-container {
    flex: 1;
}

#menu-container {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 100%;
    top: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    z-index: 1;
    transition-duration: 1s;
}

#close-button {
    background: transparent;
}

.menu-button {
    margin: 20px;
    display: flex;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.menu-text {
    padding-left: 5px;
    padding-top: 2px;
}

#menu-list {
    list-style: none;
    user-select: none;
    padding-left: 5%;
    white-space: nowrap;
    max-width: 150px;
    color: white;
    font-size: 30px;
}

#menu-list li {
    transition-duration: 0.4s;
    cursor: pointer;
}

#menu-list li:hover {
    color: #44bde2;
}

.menu-button:hover {
    color: #2e2eef;
}

.menu-button div {
    flex: 100px;
}

#menu-text {
    padding-left: 7px;
    padding-top: 2px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(600px, 1fr);
    gap: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.product-item {
    border-radius: 10px;
    border: 1px solid lightgray;
    overflow: hidden;
}

.product-item:hover {
    border: 1px solid darkslateblue;
}

.product-image {
    width: 100%;
}

@media(min-width: 1280px){
    .product-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.spec-container {
    display: flex;
    flex-wrap: wrap;
}

.spec-container div {
    flex: 1 150px;
    margin: 10px;
    padding-bottom: 10px;
}

.spec-item {
    display: grid;
    grid-template-columns: 34px repeat(8, 1fr);
    grid-template-rows: 20px;
}

.spec-value {
    padding-top: 4px;
}

.item-info {
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    size: 1px;
}

.spec-icon {
    width: 25px;
    height: 25px;
}

.additional-info {
    background-image: radial-gradient(73.77% 73.77% at -22.31% -20.58%, rgb(0, 67, 122) 0%, rgb(0, 30, 80) 100%);
    width: 100%;
    font-size: 2.6em;
    margin-top: 50px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

.info-title {
    font-size: 0.7em;
}

.small-info {
    font-size: 0.5em;
}

.very-small-info {
    font-size: 0.4em;
}

.phone-number {
    font-size: 1.1em;
}

footer {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    font-size: 1.3em;
    flex-wrap: wrap;
}

.link-list {
    list-style: none;
    user-select: none;
    padding: 0;
    white-space: nowrap;
    max-width: 300px;
}

.link-list li:hover {
    background: lightgray;
}

.footer-item {
    margin: 3% 10%;
    flex: 1;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px;
}

h1 b {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#scroll-button {
    position: fixed;
    bottom: 100px;
    right: 10px;
}

#scroll-button img {
    width: 50px;
    height: 50px;
}

#scroll-top-button {
    opacity: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}
